version: '1'

services:
  app:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    stdin_open: true # Equivalent to -i
    tty: true # Equivalent to -t 
